<template name='parkings'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <a href="parkings/add" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
  <div class="row">
    {{#each parkingsCollection}}
    <!-- <div class="col-xs-3">
      Parking Available at {{address}}
      <footer>
        {{details.available}}
      </footer>
    </div> -->
    {{> simpleParking}}
    {{/each}}
  </div>
</template>
