<template name='parking'>
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-12">
      <form id="addParking" method="post">
        <div class="form-group">
          <label for="enteranceHeight">Enterence Height</label>
          <input class="form-control" type="text" min="0.0" max="15.0" name="enteranceHeight" id="enteranceHeight" value="">
        </div>
        <div class="form-group">
          <label for="capacity">Capacity</label>
          <input class="form-control" type="number" min="0" max="1000" name="capacity" id="capacity" value="">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input class="form-control" type="text" name="address" id="address" value="">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" name="description" id="description"></textarea>
        </div>
        <button type="submit" class="btn btn-info">Add</button>
      </form>
    </div>
  </div> -->
<div class="row">
  <div class="w3-container w3-orange">
<h2>Create Parking lot card</h2>
</div>

<form class="w3-container" id="addParking" method="post">

<p>
  <label for="enteranceHeight">Enterence Height</label>
  <input class="w3-input" type="text" min="0.0" max="15.0" name="enteranceHeight" id="enteranceHeight" value="">
</p>

<p>
  <label for="capacity">Capacity</label>
  <input class="w3-input" type="number" min="0" max="1000" name="capacity" id="capacity" value="">
</p>

<p>
  <label for="address">Address</label>
  <input class="w3-input" type="text" name="address" id="address" value="">
</p>
<p>
  <label for="description">Description</label>
  <textarea class="w3-input" name="description" id="description"></textarea>
</p>
<p>
<button type="submit" class="w3-btn w3-teal">Add</button></p>
</form>
</div>
</template>
