<template name='password'>
  <form id='changePassword' method="post">
    <div class="form-group">
      <label for="">Current Password</label>
      <input class="form-control" type="password" name="previous" value="">
    </div>
    <div class="form-group">
      <label for="">New Password</label>
      <input class="form-control" type="password" name="current" value="">
    </div>
    <div class="form-group">
      <label for="">Retype Password</label>
      <input class="form-control" type="password" name="currentRetype" value="">
    </div>
    <button type="submit" name="button" class="btn btn-primary">Change</button>
  </form>
</template>
