<template name='profile'>
    <div class="row">
      <div class="col-xs-12">
        <h4>Basic Information</h4>
        <hr>
        <p>
          <p>
            {{currentUser.profile.name }}
          </p>
        </p>
      </div>
    </div>
</template>
