<template name='settings'>
  <h2>Settings</h2>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#settingsSection">Subscriptions</a>
      </h4>
    </div>
    <div id="settingsSection" class="panel-collapse collapse">
      <div class="panel-body">
        {{> subscriptions }}
      </div>
      <!-- <div class="panel-footer">Panel Footer</div> -->
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#passwordSection">Password</a>
      </h4>
    </div>
    <div id="passwordSection" class="panel-collapse collapse">
      <div class="panel-body">
        {{> password }}
      </div>
      <!-- <div class="panel-footer">Panel Footer</div> -->
    </div>
  </div>
</div>
</template>
