<template name='subscriptions'>
  <h4>Choose your payment amount</h4>
  <button type="button" class="btn btn-info" name="button">3 Months</button>
  <button type="button" class="btn btn-info" name="button">6 Months</button>
  <button type="button" class="btn btn-info" name="button">9 Months</button>
  <button type="button" class="btn btn-info" name="button">12 Months</button>
</template>
