
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.btns {
  margin-top: 400px;
}
body {

  position: relative;
  background: #F2F2F2 !important;
  background-color: #F2F2F2 !important;
  font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.home {
  width: 100%;
  margin: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px !important;
  background-image: url('/images/home2.jpg');
  height: 800px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  background-size: cover !important;
}
.row {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  /*background-color: #efefef;*/
  text-align: center;
  background: #000000;
  color: #ffffff;
  /*height: 100px;*/
}
input.error {
  color: rgb(255, 0, 0);
}
input.success {
  color: rgb(0, 255, 0);
}
.error {
color: rgb(255, 0, 0);
}

.w3-input {
  padding: 0px !important;
  /*padding-left: 8px !important;*/
  /*padding-right: 8px !important;*/
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}
