input {
  height: 40px !important;
  border: 0px !important;
  border-radius: none !important;
  outline: none !important;
  /*padding-left: 10px !important;*/
}
input:focus {

}

select {
  height: 40px !important;
  border: 0px !important;
  border-radius: none !important;
  outline: none !important;
}

.baseSearch {
  margin-top: 25% !important;
}
