<template name='app'>
  <!-- <div class="container"> -->

    <!-- <div class="baseSearch"> -->
      <h1 class="text-center">Search Your desired Location</h1>
      {{> search }}
    <!-- </div> -->
  <!-- </div> -->
</template>
