<template name='home'>
  <!-- <div class="row"> -->
    <!-- <div class="col-xs-12"> -->

      <!-- <div class="home">
        <div class="container">
          <div class="text-center">
            <div class="btn-group btns">
              <a href="/join" class="btn btn-default btn-lg">Join</a>
              <a href="/login" class="btn btn-info btn-lg">Login</a>
            </div>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->
  <!-- <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <p >
          <h4 class="text-center"><i class="glyphicon glyphicon-leaf"></i></h4>
          <span class="justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </span>
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <p >
          <h4 class="text-center"><i class="glyphicon glyphicon-cog"></i></h4>
          <span class="justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </span>
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <p >
          <h4 class="text-center"><i class="glyphicon glyphicon-road"></i></h4>
          <span class="justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </span>
        </p>
      </div>
    </div>
  </div> -->
  <div class="row">
    <!-- <div class="w3-container"> -->
      <img src="/images/home2.jpg" style="width: 100%;height:100vh;" alt="" />
    <!-- </div> -->

  </div>
</template>
