<template name='join'>
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <form id="join" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control"  type="text" name="name" value="" id="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-info">Join</button>
      </form>
    </div>
  </div>
</div> -->
{{> appLogo }}
<form id="join" method="post">
  <p>
    <label for="name">Name</label>
    <input class="w3-input"  type="text" name="name" value="" id="name" placeholder="Name">
  </p>
  <p>
    <label for="email">Email</label>
    <input class="w3-input" type="email" name="email" id="email" placeholder="Email">
  </p>
  <p>
    <label for="password">Password</label>
    <input class="w3-input" type="password" name="password" id="password" placeholder="Password">
  </p>
  <p>
    <button type="submit" class="w3-btn-block w3-teal">Join</button>
    <!-- <button type="submit" class="btn btn-info">Join</button> -->
  </p>
</form>
</template>
