<template name='login'>
{{> appLogo }}
<div class="row">
  <form id="login" class="w3-container" method="post">
    <p>
      <label for="email">Email</label>
      <input class="w3-input" type="email" name="email" id="email" placeholder="Email">
    </p>
    <p>
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" placeholder="Password">
    </p>
    <p>
      <!-- <button type="submit" class="btn btn-info">Login</button> -->
      <button type="submit" class="w3-btn-block w3-teal">Login</button>
    </p>
  </form>
</div>
</template>
