.map {
  width: 500px;
  background: #888888;
  height: 500px;
  margin: 5px auto;
}

input:focus {
  outline: none;
  border: none;
  border-radius: none;
  box-shadow: none;
}
.form-control:focus {
  outline: none;
  border: none;
  border-radius: none;
  box-shadow: none;
}
