<template name='parkingDetails'>
  <div class="row">

  {{#if details}}
  <div class="w3-display-container">
  <div class="w3-image w3-animate-opacity">
    <img src="/images/home2.jpg" alt="Boat"
    style="width:100%;min-height:200px;max-height:400px;">
    <div class="w3-display-middle w3-text-black w3-jumbo">{{details.address}}</div>
    <div class="w3-container w3-display-bottomright w3-text-white w3-large">

    </div>
  </div>
  </div>

  <div class="w3-container w3-border">
    <h2>Parking Space at {{details.address}}</h2>
    <footer class="w3-container w3-pink">
      Available: {{details.details.available}}
      &nbsp;
      Enterance Height: {{details.details.enteranceHeight}}
    </footer>
    <p style="text-align: justify;">
      {{details.description}}
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <br>
  <hr>
  <div style="height:500px;width:100%;max-width:100%;list-style:none; transition: none;overflow:hidden;"><div id="gmap-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Banani,+Dhaka,+Dhaka+Division,+Bangladesh&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embedded-map-html" href="http://www.dog-checks.com" id="get-data-for-embed-map">dog checks</a><style>#gmap-display .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div><script src="https://www.dog-checks.com/google-maps-authorization.js?id=86170d72-185d-f8da-0c3b-cab8a2a1d698&c=embedded-map-html&u=1462567820" defer="defer" async="async"></script>

  <!-- <div class="w3-container w3-border"> -->
  <!-- </div> -->

  {{else}}
  {{/if}}
  </div>
</template>
