<template name='search'>
<!-- <div class="w3-row">
  <div class="w3-container"> -->
    <input class="w3-input" type="search" id="search" name="keyword" value="{{value}}" placeholder="Search Your Location">
  <!-- </div>
</div> -->
<!-- <label>Search</label> -->

</template>
