<template name='searchResult'>
  <!-- <div class=""> -->
    <!-- <div class="w3-container"> -->

      {{> search }}
    <!-- </div> -->
  <!-- </div> -->
  <div class="row">
    {{#if found}}
      {{#each parkingsCollection}}
        {{> simpleParking }}
      {{/each}}
    {{else}}
    <div class="w3-card-12 w3-margin">
      <img src="/images/sorry.jpg" alt="sorry" style="width:100%">
      <h2 class="text-center">Nothing Found</h2>
      <div class="w3-container w3-center">
        ....Sorry about that
      </div>
    </div>
    {{/if}}
  </div>
</template>
