<template name='simpleParking'>
  <!-- <a href="/app/parkings/{{_id}}">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Parking Available at {{address}}</h4>
      <footer>
        <b>Available: </b>{{details.available}}<br>
        <b>Enterance Height: </b>{{details.enteranceHeight}} <br>
        <b>Capacity: </b>{{details.capacity}}
      </footer>
    </div>
  </a> -->
  <a href="/app/parkings/{{_id}}">
    <div class="w3-card-12 w3-margin">
      <img src="/images/home2.jpg" alt="Norway" style="width:100%">
      <h6 class="text-center">Parking Available at {{address}}</h6>
      <div class="w3-container w3-center">
        <b>Available: </b>{{details.available}}
        <b>Enterance Height: </b>{{details.enteranceHeight}}
        <b>Capacity: </b>{{details.capacity}}
      </div>
    </div>
  </a>
</template>
