<template name='appLogo'>
  <div class="w3-container w3-section">
    <div class="text-center">
      <div class="w3-tag w3-slim w3-red">P</div>
      <div class="w3-tag w3-slim">L</div>
      <div class="w3-tag w3-slim w3-yellow">O</div>
      <div class="w3-tag w3-slim">T</div>
    </div>
  </div>
</template>
