<head>
  <title>RentASpace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<template name='dashboardApp'>
  {{> dashboardNavigation }}

  <div class="container">
    {{> Template.dynamic template=content }}
  </div>
</template>
