<template name='appFooter'>
  <div class="footer">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <center>&copy; 2016</center>
      </div>
    </div>
  </div>
</template>
