<head>
  <title>RentASpace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<template name='basicApp'>
  <!-- {{> appNavigation }}

  <div class="container"> {{> Template.dynamic template=content }}</div>
  {{> appFooter }} -->
{{> navigation }}
<div id='main'>
  <header class="w3-container w3-teal">
    <span class="w3-opennav w3-xlarge" onclick="w3_open()">&#9776;</span>
  </header>

  <div class="w3-container">
    <!-- <div class="w3-row"> -->
      <!-- <div class="w12-col s12"> -->
        {{> Template.dynamic template=content }}
      <!-- </div> -->
    <!-- </div> -->
  </div>

  <!-- <footer class="w3-container w3-theme">
    <h3>Footer</h3>
  </footer> -->

</div>
    <script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "35%";
  document.getElementsByClassName("w3-sidenav")[0].style.width = "35%";
  document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
  document.getElementsByClassName("w3-opennav")[0].style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
  document.getElementsByClassName("w3-opennav")[0].style.display = "inline-block";
}
</script>
</template>
