<template name='navSp'>
  <nav class="sidebar">
    <a class="navbar-header pull-right">
            ☰
    </a>
    <div class="nav spnav">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
</template>
