<template name='appNavigation'>
  <nav class="navbar navsp" style="background-color: #ffffff;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar" style="background: #000000 !important; color: black;"></span>
          <span class="icon-bar" style="background: #000000 !important; color: black;"></span>
          <span class="icon-bar" style="background: #000000 !important; color: black;"></span>
          <span class="icon-bar" style="background: #000000 !important; color: black;"></span>
        </button>
        <!-- <a href="/" class="navbar-brand">RentASpace</a> -->
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="/">Home</a></li> -->
          <!-- <li><a href="/about">About</a></li> -->
          <li class="">
              {{#if isInRole 'admin'}}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">App<span class="caret"></span></a>
              {{else}}
                <a href="/app">App</a>
              {{/if}}
              <ul class="dropdown-menu">
                {{#unless currentUser }}
                  <li><a href="/login"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
                  <li><a href="/join"><i class="glyphicon glyphicon-user"></i> Join</a></li>
                {{else}}
                  {{#if isInRole 'admin'}}
                    <li><a href="/dashboard">Home</a></li>
                  {{/if}}
                {{/unless}}
              </ul>
          </li>
          {{#if currentUser}}
            <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>

<template name='dashboardNavigation'>
  <nav class="navbar" style="background: #c4c4cd;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
          <span class="icon-bar" style="background: #000000 !important; color: black;"></span>
          <span class="icon-bar" style="background: #000000 !important; color: black;"></span>
          <span class="icon-bar" style="background: #000000 !important; color: black;"></span>
          <span class="icon-bar" style="background: #000000 !important; color: black;"></span>
        </button>
        <a href="/dashboard" class="navbar-brand">RentASpace</a>
      </div>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="nav navbar-nav">
          <li><a href="/dashboard/parkings">Parkings</a></li>
          <li><a href="/dashboard/cars">Cars</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a></li>

          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span> <i class="caret"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/profile"><i class="fa fa-tachometer" aria-hidden="true"></i> Profile</a></li>
              <li><a href="/dashboard/settings"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
              <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Log Off</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<template name='navigation'>
  <nav class="w3-sidenav w3-white w3-card-2" style="display:none">
    <a href="javascript:void(0)"
    onclick="w3_close()"
    class="w3-closenav w3-large pull-right">&times;</a>
    {{#if currentUser}}
      <a href="/app">App</a>
      {{#if isInRole 'admin'}}
        <a href="/dashboard">Dashboard</a>
      {{/if}}

        <a href="/logout">Logout</a>
    {{/if}}
    <a href="/settings">Settings</a>
  </nav>
</template>
